{% extends 'base.html' %}

{%block head %}
  <div class="container mt-5">
    <h1 class="text-center">{{table|capitalize}}</h2>
  </div>
{% endblock %}

{% block body %}
<div class="container text-center mt-5">
  <div class="d-flex justify-content-start my-3">
    <a class="btn btn-outline custom-btn-border" href="{{ url_for('new', table=table) }}" role="button">New {{ table[:-1] }}</a>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        {% for field in fields %}
          <th scope="col">{{ field|capitalize }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row, uri in rows|sort %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            {% for item in row %}
              <td><a href="{{ uri }}">{{ item }}</a></td>
            {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}